
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    }
</style>

@Html.Action("PartialBlogSlider", "AnaSayfa")

<div class="blog-wrapper section-padding-100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">

                <div class="sidebar-widget-area">
                    <form action="#" class="search-form">
                        <input type="search" name="ara" id="searchForm" placeholder="Blog Ara...">
                        <input type="submit" value="submit">
                    </form>
                </div>
                    
                @Html.Action("PartialBloglar", "AnaSayfa")

            </div>

            <div class="col-12 col-md-4 col-lg-3">
                <div class="post-sidebar-area">

                    @Html.Action("PartialSonYazilarim", "AnaSayfa")

                    @Html.Action("PartialKategoriler", "AnaSayfa")

                </div>
            </div>
        </div>
    </div>
</div>


@Html.Action("PartialGaleri", "AnaSayfa")

